-
  var reviews = {
    header: 'Отзывы наших клиентов',
    items: [
      {
        image: 'img/reviews-01.jpg',
        name: 'Александр',
        date: '11. 12. 2019 г.',
        text: 'Заказал автомобиль в этой компании. <br>Работал с менеджером Артёмом. Работой остался очень доволен ,целиком и полностью. Информировали по ходу автомобиля от начала и до конца. Спасибо ребятам за проделанную работу. <br>Смело обращайтесь к ним.',
      },
      {
        image: 'img/reviews-02.jpg',
        name: 'Наталья',
        date: '06. 12. 2019 г.',
        text: 'Это мой первый опыт покупки автомобиля через аукцион, поэтому с выбором компании заморочилась. Изучив отзывы, остановилась на компании ТрейдЛайн 100% не прогадала. <br>Автомобиль купили лучше чем хотела даже не ожидала что в мой бюджет это реально. Отдельное СПАСИБО Денису, он оперативно скидывал варианты автомобилей и переводы аукционных листов. <br>Процесс от покупки автомобиля в Японии до растаможки занял 28 дней. <br><br>Довольна покупкой полностью! РЕКОМЕНДУЮ!!!',
      },
      {
        image: 'img/reviews-03.jpg',
        name: 'Владимир',
        date: '21. 11. 2019 г.',
        text: ' Недавно привёз уже вторую машину через эту компанию, в первый раз привозил 3 года назад форестер, машина огонь, отличный автомобиль, здесь за такую сумму в такой комплектации и с таким аукционником приобрести нереально. Потом пару раз советовал обратиться к Алексею своим друзьям, насколько я знаю, никаких нюансов не возникало, все остались довольны. А а этот раз привезли мне фита гибридного,машина полностью соответствует своим характеристикам по аукционнику. Машину растаможили, когда меня по стечению обстоятельств не было в городе. Алексей сам забрал ее и отогнал в заранее оговоренное место,спасибо ему огромное,не пришлось переплачивать за стоянку на таможне.',
      },
      {
        image: 'img/reviews-04.jpg',
        name: 'Марина',
        date: '17. 11. 2019 г.',
        text: 'Нашла эту компанию через интернет и не разочаровалась!) Консультировал и оказывал помощь в подборе автомобиля Алексей и выполнил свою работу на отлично. Машина пришла в соответсвии с описанием (оценка состояния машины и укомплектовка). Сразу забрала машину, после выгрузки, в сопровождении сотрудника компании, что было очень удобно и без лишних хлопот.',
      },
      //- {
      //-   image: 'img/reviews-01.jpg',
      //-   name: 'Александр',
      //-   date: '11. 12. 2019 г.',
      //-   text: 'Заказал автомобиль в этой компании. <br>Работал с менеджером Артёмом. Работой остался очень доволен ,целиком и полностью. Информировали по ходу автомобиля от начала и до конца. Спасибо ребятам за проделанную работу. <br>Смело обращайтесь к ним.',
      //- },
      //- {
      //-   image: 'img/reviews-02.jpg',
      //-   name: 'Наталья',
      //-   date: '06. 12. 2019 г.',
      //-   text: 'Это мой первый опыт покупки автомобиля через аукцион, поэтому с выбором компании заморочилась. Изучив отзывы, остановилась на компании ТрейдЛайн 100% не прогадала. <br>Автомобиль купили лучше чем хотела даже не ожидала что в мой бюджет это реально. Отдельное СПАСИБО Денису, он оперативно скидывал варианты автомобилей и переводы аукционных листов. <br>Процесс от покупки автомобиля в Японии до растаможки занял 28 дней. <br><br>Довольна покупкой полностью! РЕКОМЕНДУЮ!!!',
      //- },
    ],
  }

.reviews#reviews.wow.fadeIn
  .container
    h2.reviews__header.wow.fadeInUp(data-wow-delay=".1s") !{reviews.header}
  .swiper-container
    .reviews-items.swiper-wrapper.wow.fadeInUp(data-wow-delay=".2s")
      each item in reviews.items
        .reviews__item.swiper-slide
          .reviews__item-image-part
            img.reviews__item-image(src=item.image, alt='')
          .reviews__item-text-part
            .reviews__item-text-part-top
              p.reviews__item-name !{item.name}
              p.reviews__item-date !{item.date}
            .reviews__item-text-part-bottom
              p.reviews__item-text !{item.text}
    .swiper-pagination
